<html>
  <head>
    <title>Kompetition - show your friends who's boss!</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300">
  </head>
  <body>
    <h1>Awesome Name Goes Here</h1>
	<form action='/api/hakk' method="POST">
		Game:
		<input name="name" type="text" /> 
		Winner:
		<input name="hakk" type="text" maxlength="76" /> 
		<input type="submit" />
	</form>	
	<div id="feed">
		<h2> Hakks </h2>
		{% for hakk in hakks %}
		<div class="hakk">
			<b>{{ hakk[0] }}</b>
			<p>{{ hakk[2] }}</p>
		</div>
		{% endfor %}
	</div>
  </body>
</html>